h1 {color: rgb(240, 237, 237);
	text-align: center;
	font-size: xx-large;
		}
a {color: white;
	}
body{background-image: url("bg.png");
		}
div{
	color: #260;
	text-align: center;
}
p{

	width: auto;
	text-align: center;
}
li{
	text-align: center;
}

.brown{
	color: brown;
}
 a:hover{
	color: black;
	cursor: pointer;
}

section{
	text-align: center;
	color: rgb(208, 189, 221);
	border: 6px black dashed;
	padding: 10px;
}